<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/edit.css">

  </head>
  <body>
    <h1>Edit Your Kicks</h1>
    <form action="/kicks/<%=kicks.id%>?_method=PUT" method="POST">
      <input type="hidden" name="user" value="<%=currentUser.username%>">
      Name: <input type="text" name="name" value="<%=kicks.name%>" class="name" /><br/>
      Brand: <input type="text" name="brand" value="<%=kicks.brand%>" class="brand" /><br/>
      Release Date: <input type="date" name="date"  value="<%=kicks.date%>" class="date" /><br/>
      Image: <input type="text" name="image" value="<%=kicks.image%>" class="image" /><br/>
      Price: <input type="number" name="price" value="<%=kicks.price%>"  class="price" ><br/>
      Did you Cop?:
      <input
      type="checkbox"
      name="purchased"
      <% if (kicks.purchased === true){ %>
      checked
    <% } %>
    /><br/>
    Make Public?:
    <input type="checkbox" name="public"
    <% if (kicks.public === true){ %>
      checked
    <% } %>
    /><br/>

    <br/>
    <input type="submit" value="Add to Closet"><br/>

    <nav>
      <a href="/kicks">Back to Your Closet</a><br/>
    </nav>

  </body>
</html>
