<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/header.css">

  </head>
  <body>
    <!-- ====== Nav ========= -->
    <nav>
    <%- include ('./partials/header.ejs') %>
  </nav>
    <!-- ====== Main ========= -->
    <h2>Upcoming Releases</h2><br/>
    <div class="pic-ctn">
    <img src="https://sneakernews.com/wp-content/uploads/2021/10/nike-sb-dunk-low-mummy-DM0774-111-release-date-5.jpg?w=1140" alt="" class="pic">
    <img src="https://sneakernews.com/wp-content/uploads/2021/09/air-jordan-5-retro-dc7501-300.jpg?w=780" alt="" class="pic">
    <img src="https://sneakernews.com/wp-content/uploads/2021/08/air-jordan-11-cool-grey-gs-378038-005-release-date-1.jpg?w=1140" alt="" class="pic">
    <img src="https://sneakernews.com/wp-content/uploads/2021/10/adidas-yeezy-boost-350-v2-mx-oat-GW3773-official-images-1.jpg" alt="" class="pic">
  </div> <br/>
<br/>
<br/>
<br/>

<br/><h1>Your Closet</h1>

<form class="timeline" action="/kicks/timeline" method="POST">
<input type="hidden" name="timeline" value="<%=kicks.public %>">
<input type="submit" value="timeline">
</form>

<!-- <a href="/kicks/timeline">Timeline</a> -->
<div class="body">


  <% for (let i = 0; i < kicks.length; i++){ %>
    <% if(kicks[i].user === currentUser.username){ %>
      <% console.log(currentUser.username) %>
      <% console.log(kicks[i].user) %>

<div class="sneakers">

<a href="/kicks/<%=kicks[i].id; %>" class="name">
  <%=kicks[i].name; %></br>
</a>
<img src="<%=kicks[i].image %>" alt="" class="shoes">
<form class="delete" action="/kicks/<%=kicks[i].id; %>?_method=DELETE" method="POST">
  <input type="submit" value="DELETE">
</form>
<a href="/kicks/<%=kicks[i].id; %>/edit">Edit</a>

</div>
  <%}%>
  <%}%>
</div>
<nav>
  <a href="/kicks/new">Add New Kicks</a>
</nav>
<!-- ========== Footer ========== -->


  </body>
</html>
