<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/public.css">
  </head>
  <body>
<nav>
  <%- include ('./partials/header.ejs') %>
</nav>
<h1>Live Feed</h1>

<div class="body">

<% for (let i = 0; i < kicks.length; i++){ %>
  <% if(kicks[i].public === true ){ %>

  <div class="">
    <h3 class="name">  <%=kicks[i].name; %> </h3>
  <h3><%=kicks[i].brand; %></h3>
    <h3>Price = <%=kicks[i].price; %> </h3>
    <img src="<%=kicks[i].image; %>" alt="Photo of your sneaks">
  <% } %>
  <% } %>
</div>
</div>
    <nav>
      <a href="/kicks">Back to Your Closet</a><br/>
    </nav>


  </body>
</html>
